$w_spacing: 10px;

.widget {
  &--board {
    display: flex;
    flex-wrap: wrap;
    margin-right: -#{$w_spacing * 2};
  }

  &--item {
    margin: 0 #{$w_spacing * 2} #{$w_spacing * 2} 0;
    width: 100%;
    overflow: hidden;

    &--inner {
      background: rgba(255, 255, 255, 0.1);
      padding: 10px;
      width: 100%;
      border-radius: 5px;
      position: relative;

      @include media-breakpoint-up(lg) {
        padding: 20px;
      }
    }

    hr {
      height: 1px;
      border: none;
      background: rgba($grey-medium, 0.5);
      margin: 10px 0;

      @include media-breakpoint-up(lg) {
        margin: 20px 0;
      }
    }
    width: 100%;

    @include media-breakpoint-up(lg) {
      &__30 {
        width: calc(33.333% - #{$w_spacing * 2});
      }

      &__40 {
        width: calc(40% - #{$w_spacing * 2});
      }

      &__50 {
        width: calc(50% - #{$w_spacing * 2});
      }

      &__60 {
        width: calc(60% - #{$w_spacing * 2});
      }
    }
  }

  &--title {
    @extend .sub-title;
    letter-spacing: 1px;
  }
}

.recharts-wrapper {
  pointer-events: none;
  circle {
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  .recharts-cartesian-grid {
    line {
      stroke: rgba($grey-medium, 0.1);
    }

    .recharts-cartesian-grid-vertical {
      display: none;
    }
  }

  .recharts-cartesian-axis-ticks {
    text {
      font-size: 8px;
      fill: white;
      white-space: nowrap;
    }
  }

  .recharts-legend-item {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 0 !important;
    margin-left: 20px;

    svg {
      height: 10px;
      width: 10px;
    }
  }
}

.issue-item {
  background: rgba($grey-medium, 0.3);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;

  p {
    margin: 0;
  }

  &--title {
    margin-bottom: 10px;
    color: $orange;
    font-weight: 500;
  }

  &--detail {
    font-weight: 500;
    font-size: 10px;
    span {
      color: $orange;
    }
  }
}
