.requests {
	&--status {
		padding: 2px 5px;
		border-radius: 10px;
		font-size: 8px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		line-height: 1;
		text-transform: uppercase;
		margin-bottom: 5px;
		margin-right: 5px;

		@include media-breakpoint-up(lg) {
			margin-right: 10px;
			letter-spacing: 1px;
			padding: 5px 10px;
			border-radius: 10px;
			font-size: 10px;
			margin-bottom: 0;
		}

		&__manual {
			background: $grey-medium;
		}

		&__sonarr {
			background: #35c5f4;
			color: $black;
		}

		&__radarr {
			background: $black;
			color: $orange;
		}

		&__bad {
			background: $bad;
		}

		&__blue {
			background: $blue;
		}

		&__orange {
			background: $orange;
		}

		&__good {
			background: $good;
			color: $black;
		}

		&__cinema {
			background: $purple;
		}
	}

	&--quality {
		padding: 5px 10px;
		border-radius: 10px;
		font-size: 8px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-right: 10px;
		background: $grey-medium;
	}

	&--icon {
		svg {
			height: 10px;
			fill: white;

			@include media-breakpoint-up(lg) {
				height: 20px;
			}
		}
	}

	&--wrap {
		p {
			margin-bottom: 0;
		}
	}

	&--prog {
		width: 40%;
		height: 4px;
		background: $black;
		position: relative;
		margin-right: 20px;

		&--active {
			position: absolute;
			top: 0;
			left: 0;
			background: $orange;
			height: 100%;
			transition: width 10s linear;
		}

		&--wrap {
			display: flex;
			align-items: center;

			p {
				font-size: 10px;
			}
		}
	}
}
