.requests {
  &--status {
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-right: 5px;
    white-space: nowrap;

    @include media-breakpoint-up(lg) {
      margin-right: 10px;
      letter-spacing: 1px;
      padding: 5px 10px;
      border-radius: 10px;
      font-size: 10px;
      margin-bottom: 0;
    }

    &__manual {
      background: $grey-medium;
    }

    &__sonarr {
      background: #35c5f4;
      color: $black;
    }

    &__radarr {
      background: $black;
      color: $primary;
    }

    &__bad {
      background: $bad;
    }

    &__blue {
      background: $blue;
    }

    &__orange {
      background: $primary;
    }

    &__good {
      background: $good;
      color: $black;
    }

    &__cinema {
      background: $purple;
    }

    &__pending {
      background: $teal;
    }
  }

  &--quality {
    // padding: 5px 10px;
    border-radius: 10px;
    font-size: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 10px;
    // background: $grey-medium;
  }

  &--icon {
    svg {
      height: 10px;
      fill: white;

      @include media-breakpoint-up(lg) {
        height: 20px;
      }
    }
  }

  &--wrap {
    p {
      margin-bottom: 0;
    }
  }

  &--prog {
    width: 80%;
    height: 4px;
    background: $black;
    position: relative;
    margin-right: 20px;
    max-width: 300px;

    &--active {
      position: absolute;
      top: 0;
      left: 0;
      background: $primary;
      height: 100%;
      transition: width 10s linear;
    }

    &--wrap {
      display: flex;
      align-items: center;

      p {
        font-size: 10px;
      }
    }
  }
}

.request-edit {
  &--server {
    &--wrap {
      padding: 20px;
      border-radius: 10px;
      margin-bottom: 20px;
      background: rgba($grey-medium, 0.1);

      .styled-input--select,
      label {
        margin-bottom: 10px;
      }

      .disabled {
        opacity: 0.3;
        pointer-events: none;
      }
    }

    &--title {
      font-size: 18px;
      font-weight: 500;
    }

    &--subtitle {
      font-weight: 500;
      margin-bottom: 5px;
    }
  }
}

.warning {
  background: $yellow;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  border-radius: 2px;

  svg {
    height: 10px;
    color: $black;
  }
}

.warning-text {
  color: $black;
  background: $yellow;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  border-radius: 5px;

  svg {
    height: 10px;
    margin-right: 15px;
  }
}
