.settings {
  &--wrap {
    position: relative;
  }

  &--menu {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);

    &--item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      padding: 0 10px;
      margin-right: 20px;

      @include media-breakpoint-up(lg) {
        padding: 0 20px;
        margin-right: 50px;
      }

      p {
        font-size: 16px;
        color: white;
        font-weight: 500;
        margin: 0;
        display: none;

        @include media-breakpoint-up(lg) {
          display: block;
        }
      }

      .icon {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;

        @include media-breakpoint-up(lg) {
          padding-left: 20px;
        }

        img {
          height: 15px;
          width: auto;
          max-width: 100%;

          &.png-safe {
            filter: saturate(0) brightness(10);
          }
        }

        svg {
          height: 15px;

          path {
            fill: $grey-light;
          }
        }
      }

      &:hover {
        border-bottom: solid 1px white;
      }

      &.active {
        border-bottom: solid 1px $primary;

        .icon {
          svg path {
            fill: $primary;
          }
        }

        p {
          color: $primary;
        }
      }
    }
  }

  &--content {
    padding: 50px 0;

    section {
      @include media-breakpoint-up(lg) {
        padding-left: 20px;
        padding-right: 20px;
      }

      label {
        margin-bottom: 10px;
        display: block;
      }
    }
  }
}

.setting-msg {
  position: fixed;
  bottom: 60px;
  right: 10px;
  min-width: 200px;
  max-width: 100%;
  background: $primary;
  padding: 10px 20px;
  z-index: 100;
  border-radius: 5px;

  @include media-breakpoint-up(lg) {
    bottom: 50px;
    right: 50px;
    min-width: 300px;
    padding: 20px 40px;
  }

  &.good {
    background: $good;
  }

  &.error {
    background: $bad;
  }

  p {
    margin: 0;
  }
}
