.settings {
  &--wrap {
    position: relative;
  }

  &--menu {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);

    &--item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      margin-right: 50px;
      padding: 0 20px;

      p {
        font-size: 16px;
        color: white;
        font-weight: 500;
        margin: 0;
        display: none;

        @include media-breakpoint-up(lg) {
          display: block;
        }
      }

      .icon {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;

        img {
          height: 15px;
          width: auto;
          max-width: 100%;

          &.png-safe {
            filter: saturate(0) brightness(10);
          }
        }

        svg {
          height: 15px;

          path {
            fill: $grey-light;
          }
        }
      }

      &:hover {
        border-bottom: solid 1px white;
      }

      &.active {
        border-bottom: solid 1px $primary;

        .icon {
          svg path {
            fill: $primary;
          }
        }

        p {
          color: $primary;
        }
      }
    }
  }

  &--content {
    padding: 50px 0;

    section {
      padding-left: 20px;
      padding-right: 20px;

      label {
        margin-bottom: 10px;
        display: block;
      }
    }
  }
}

.setting-msg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: $primary;
  padding: 10px 40px;
  z-index: 100;

  &.good {
    background: $good;
  }

  &.error {
    background: $bad;
  }

  p {
    margin: 0;
  }
}
