.setup--wrap {
	width: 400px;
	max-width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;

	.main-title {
		margin-bottom: 20px;
	}

	.server-select-option {
		background: rgba($grey-medium, 0.5);
		color: $grey-light;
		padding: 20px;
		// border-bottom: solid 1px $black;
		border-radius: 5px;
		margin-bottom: 5px;
		transition: background 0.3s ease;
		cursor: pointer;
		display: flex;

		div {
			pointer-events: none;
		}

		.server-icon {
			height: 40px;
			width: 40px;
			margin-right: 20px;
			pointer-events: none;
		}

		p {
			margin: 0;
			text-transform: uppercase;
			pointer-events: none;

			&.server-loc {
				font-size: 12px;
				text-transform: none;
			}
		}

		&:hover {
			background: rgba($grey-medium, 0.8);
		}

		&.selected {
			background: $orange;
		}
	}

	.loading {
		svg {
			width: 50px;
			height: 50px;
		}
	}
}
