# Folders
.github/
.husky/
.trunk/
.vscode/
data/
node_modules/
pkg/admin/build/
pkg/frontend/build/
pkg/api/dist/
pkg/api/build/
pkg/api/data/

# Files
.hadolint.yaml
.markdownlint.yaml
.node-version
.prettierjs
.shellcheckrc
commitlint.config.js
docker-compose.yaml
LICENSE
README.md
semantic-release.json
Taskfile.yml
