.idea/
api/node_modules/
admin/node_modules/
frontend/node_modules/
node_modules/
.DS_Store
api/config.json
api/.DS_Store
frontend/build
admin/build
api/config/
api/config-backup/
api/logs/
bin/
*.zip
views/
frontend/.eslintcache
admin/.eslintcache
/logs
api/.DS_Store
