
api/node_modules/
admin/node_modules/
frontend/node_modules/
#admin/src/
#admin/public/
#frontend/src/
#frontend/public/
node_modules/
#admin/.eslintcache
.DS_Store
api/config.json
api/.DS_Store
frontend/build
admin/build
api/config/