.settings {
  &--wrap {
    position: relative;
  }

  &--menu {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);

    &--item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      padding: 0 10px;
      margin-right: 20px;
      border-bottom: solid 1px transparent;
      margin-bottom: -1px;

      @include media-breakpoint-up(lg) {
        padding: 0 20px;
        margin-right: 50px;
      }

      p {
        font-size: 16px;
        color: white;
        font-weight: 500;
        margin: 0;
        display: none;

        @include media-breakpoint-up(lg) {
          display: block;
        }
      }

      .icon {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;

        @include media-breakpoint-up(lg) {
          padding-left: 20px;
        }

        img {
          height: 15px;
          width: auto;
          max-width: 100%;

          &.png-safe {
            filter: saturate(0) brightness(10);
          }
        }

        svg {
          height: 15px;

          path {
            fill: $grey-light;
          }
        }
      }

      &:hover {
        border-bottom: solid 1px white;
      }

      &.active {
        border-bottom: solid 1px $primary;

        .icon {
          svg path {
            fill: $primary;
          }
        }

        p {
          color: $primary;
        }
      }
    }
  }

  &--content {
    padding: 50px 0;

    p.description {
      width: 600px;
      max-width: 100%;

      code {
        margin: 0;
      }
    }

    section {
      @include media-breakpoint-up(lg) {
        padding-left: 20px;
        padding-right: 20px;
      }

      label {
        margin-bottom: 10px;
        display: block;
      }
    }
  }
}

.setting-msg {
  position: fixed;
  bottom: 60px;
  right: 10px;
  min-width: 200px;
  max-width: 100%;
  background: $primary;
  padding: 10px 20px;
  z-index: 100;
  border-radius: 5px;

  @include media-breakpoint-up(lg) {
    bottom: 50px;
    right: 50px;
    min-width: 300px;
    padding: 20px 40px;
  }

  &.good {
    background: $good;
  }

  &.error {
    background: $bad;
  }

  p {
    margin: 0;
    width: auto;
    max-width: auto;
  }
}

.console {
  &--main {
    background: rgba($dark-grey, 0.6);
    border-radius: 10px;
    padding: 20px;
    max-height: 500px;
    min-height: 500px;
    overflow-y: scroll;
    font-family: monospace;
  }

  &--item {
    font-size: 12px;
    margin-bottom: 5px;
    max-width: initial !important;
    width: auto !important;
  }

  &--type {
    text-transform: uppercase;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 5px;
    font-weight: 500;
    min-width: 55px;
    text-align: center;
    display: inline-flex;
    line-height: 12px;
    justify-content: center;

    &__info {
      background: $green;
      color: $dark-grey;
    }

    &__verbose {
      background: $purple;
    }

    &__warn {
      background: $primary;
      color: $dark-grey;
    }

    &__error {
      background: $bad;
    }
  }

  &--filter {
    display: flex;
    margin-bottom: 10px;

    &--item {
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 10px;
      margin-right: 10px;
      text-transform: uppercase;
      cursor: pointer;

      &.disabled {
        opacity: 0.5;
      }

      &__info {
        background: $green;
        color: $dark-grey;
      }

      &__verbose {
        background: $purple;
      }

      &__warn {
        background: $primary;
        color: $dark-grey;
      }

      &__error {
        background: $bad;
      }
    }
  }
}

.filter {
  &--list {
    width: 1000px;
    max-width: 100%;
  }

  &--comparison {
    appearance: none;
    color: $primary;
    font-weight: 700;
    background: none;
    border: none;
    outline: none;
    text-align: center;
    margin-bottom: 5px;
    font-size: 16px;
    cursor: pointer;

    @include media-breakpoint-up(lg) {
      font-size: 12px;
    }
  }

  &--add {
    background: none;
    border: dashed 1px rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease, border 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    svg {
      margin-bottom: 0;
      height: 20px;
      margin-left: 10px;
    }

    &:hover {
      color: $primary;
      border-color: $primary;

      svg {
        fill: $primary;
      }
    }

    p {
      font-weight: 700;
      margin: 0;
      color: inherit;
    }
  }

  &--item {
    background: rgba($grey-light, 0.1);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    &--title {
      font-weight: 700;
      width: 100%;
      display: flex;
      align-items: center;
    }

    &--remove {
      color: $bad;
      font-size: 12px;
      margin-left: auto;
      text-transform: uppercase;
      cursor: pointer;
    }

    &--collapse {
      color: $primary;
      font-size: 12px;
      text-transform: uppercase;
      cursor: pointer;
      margin-left: 10px;
    }
  }

  &--action {
    background: rgba($primary, 0.3);
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
  }

  &--row {
    display: flex;
    flex-wrap: wrap;
    background: rgba($grey-light, 0.1);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;

    &--item {
      width: 100%;

      @include media-breakpoint-up(md) {
        width: 200px;
        margin-right: 10px;
      }

      @include media-breakpoint-up(lg) {
        width: 170px;
        margin-right: 10px;
      }

      @include media-breakpoint-up(xl) {
        width: 180px;
        margin-right: 20px;
      }

      &--title {
        width: auto;
        font-weight: 700;
        margin-bottom: 5px;
      }

      .select-wrap,
      input[type='text'],
      input[type='number'] {
        margin: 0;
        width: 100%;
      }
    }

    &--add,
    &--remove {
      margin-left: auto;
      display: flex;
      align-items: center;
      padding-right: 10px;
      cursor: pointer;
      padding-top: 20px;
      padding-bottom: 10px;

      @include media-breakpoint-up(md) {
        padding-top: 0px;
        padding-bottom: 0px;
      }

      &.nm {
        margin: 0;
      }

      &:hover {
        color: $primary;
      }

      svg {
        height: 20px;
      }
    }
  }
}
