@import '../global/breakpoints.module.scss';

.wrap {
  margin-top: 40px;

  @media (min-width: $lg) {
    margin-top: 120px;
  }

  p {
    margin-top: calc(var(--spacing) * 2);
  }
}

.errorBlock {
  margin-top: var(--spacing);
  background: var(--grey);
  padding: 20px;
  margin-top: calc(var(--spacing) * 4);

  code {
    color: red;
    background: none;
  }
}
