@import "../global/variables.module.scss";

.overview {
  position: relative;
  z-index: 3;
  padding: 70px 0 20px;

  @media (min-width: $lg) {
    padding: 150px 0 50px;
  }

  &__logo {
    height: 176px;
    margin-bottom: $spacing;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 550px;
    padding: 0;

    p {
      margin-top: auto;
    }

    @media (min-width: $lg) {
      width: 50%;
      align-items: flex-end;
      padding: 0;
    }

    @media (min-width: $xxxl) {
      max-width: 1000px;
      height: 300px;
    }

    span {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;

      @media (min-width: $lg) {
        object-position: bottom left;
      }
    }
  }

  &__content {
    margin-top: $spacing;
    margin-bottom: #{$spacing * 2};
    width: 100%;
    max-width: 550px;

    @media (min-width: $lg) {
      width: 50%;
    }

    @media (min-width: $xxxl) {
      max-width: 1000px;
      margin-top: #{$spacing * 2};
      margin-bottom: #{$spacing * 4};
    }
  }

  &__info {
    display: flex;

    flex-direction: column;

    @media (min-width: $lg) {
      flex-direction: row;
      align-items: center;
    }

    p {
      display: flex;
      align-items: center;
    }
  }

  &__credits {
    position: relative;
    z-index: 3;
    padding-bottom: #{$spacing * 5};
    margin-top: #{$spacing * 10};
    display: flex;
    justify-content: space-between;

    &__item {
      padding-top: $spacing;
      border-top: solid 1.5px $orange;
      width: 235px;

      @media (min-width: $xxxl) {
        width: 400px;
      }
    }
  }

  &__genres {
    margin-top: $spacing;
    width: 100%;
    max-width: 550px;

    @media (min-width: $md) {
      width: 50%;
    }

    span {
      margin-right: #{$spacing * 2};

      a {
        transition: color 0.3s ease;

        &:hover {
          color: $orange;
        }
      }
    }
  }

  &__wrap {
    background: rgba($grey, 0.3);
    padding: #{$spacing * 2};
    backdrop-filter: blur(20px);
    border-radius: 5px;
    margin: 0 -20px;

    @media (min-width: $lg) {
      margin: 0;
      background: none;
      padding: 0;
      backdrop-filter: none;
      border-radius: 0;
    }
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__request {
    display: flex;
    margin-bottom: #{$spacing * 2};
    width: 100%;

    @media (min-width: $md) {
      margin-bottom: 0;
      margin-right: #{$spacing * 4};
      width: auto;
    }

    &__main_btn {
      width: 100%;
      cursor: pointer;

      @media (min-width: $md) {
        width: 200px;
        min-width: initial;
      }

      @media (min-width: $xxxl) {
        width: 400px;
      }
    }

    &__dropdown {
      &__wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
      }

      &__button {
        width: 100%;
        padding-right: 45px;

        @media (min-width: $md) {
          width: 200px;
          min-width: initial;
        }

        @media (min-width: $xxxl) {
          width: 400px;
        }

        &__open {
          background: $orange;
          color: $black;

          .actions__request__dropdown__arrow {
            &:after {
              border-bottom: solid 2px $black;
              border-right: solid 2px $black;
              transform: rotate(-135deg);
              margin-top: 4px;
            }
          }
        }

        @media (min-width: $lg) {
          &:hover {
            .actions__request__dropdown__arrow {
              &:after {
                border-bottom: solid 2px $black;
                border-right: solid 2px $black;
              }
            }
          }
        }
      }

      &__arrow {
        position: absolute;
        top: 0;
        right: 0;
        width: 35px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: solid 1.5px $orange;

        &:after {
          content: "";
          display: block;
          height: 10px;
          width: 10px;
          border-bottom: solid 2px $orange;
          border-right: solid 2px $orange;
          transform: rotate(45deg);
          margin-top: -4px;
          transition: border-color 0.3s ease;
        }
      }

      &__options {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        background: rgba($white, 0.3);
        backdrop-filter: blur(10px);
        border-radius: 5px;
        padding: 0;
        display: none;
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 100%;
        z-index: 100;

        &__open {
          display: flex;
        }
      }

      &__option {
        padding: 10px;
        border-bottom: solid 1px rgba($grey, 0.5);
        cursor: pointer;

        &:last-child {
          border-bottom: none;
        }

        @media (min-width: $lg) {
          &:hover {
            background: rgba($white, 0.3);
          }
        }
      }
    }
  }

  &__btn {
    margin: 0 #{$spacing * 2} 0 0;

    @media (min-width: $lg) {
      margin-left: 0;
      margin-right: #{$spacing * 2};
    }

    &__disabled {
      opacity: 0.2;
      pointer-events: none;
    }
  }
}

.details {
  margin: #{$spacing * 2} 0;

  @media (min-width: $lg) {
    margin: #{$spacing * 10} 0;
  }

  &__content {
    border-top: solid 1px $orange;
    padding-top: $spacing;
    margin-top: $spacing;

    &__inner {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      @media (min-width: $lg) {
        margin-left: -10px;
        margin-right: -10px;
      }
    }

    &__item {
      width: 50%;
      margin-bottom: $spacing;
      // display: flex;

      a {
        transition: color 0.3s ease;

        &:hover {
          color: $orange;
        }
      }

      &__title {
        margin-right: #{$spacing * 2};
      }

      @media (min-width: $md) {
        width: calc(100% / 3);
      }

      @media (min-width: $lg) {
        padding: 0 10px;
      }
    }
  }
}
