@import "../global/variables.module.scss";

.wrap {
  margin-top: 100px;

  @media (min-width: $lg) {
    margin-top: 120px;
  }
}

.username {
  margin-top: 10px;
}

.signOut {
  color: $orange;
  cursor: pointer;
}
