@import "../global/variables.module.scss";

.wrap {
  padding-top: 100px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 10px -10px 50px;

  &__noresults {
    padding: 0 10px;
    margin-bottom: 50px;
  }
}

.item {
  width: 100%;
  padding: 0 10px 20px 10px;

  @media (min-width: $md) {
    width: 50%;
  }

  &__wrap {
    background: $grey;
    min-height: 200px;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
    display: flex;
  }

  &__content {
    width: 50%;
    padding: 15px;

    &__year {
      margin-left: 5px;
    }
  }
}

.title {
  margin-bottom: 50px;
}

.card {
  // height: 100%;
  min-height: 200px;
  width: 50%;

  &__image {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 200px;

    &__img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(black, 0.2);
      z-index: 1;
    }
  }

  &__logo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 75%;
    height: 75%;
    z-index: 2;

    @media (min-width: $lg) {
      width: 50%;
      height: 50%;
    }

    &__img {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: bottom left;
    }

    &__text {
      position: absolute;
      bottom: 10px;
      left: 10px;
      width: 80%;
      z-index: 2;
    }
  }
}

.no_logo {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 80%;
  z-index: 2;
}

.steps {
  margin-top: 10px;

  &__step {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    opacity: 0.1;
    transition: opacity 0.3s ease, color 0.3s ease;

    span {
      height: 15px;
      width: 15px;
      margin-right: 10px;
      border: solid 1px white;
      border-radius: 50%;
      padding: 3px;
      display: flex;
      align-items: center;
      transition: border-color 0.3s ease;

      @media (min-width: $lg) {
        height: 20px;
        width: 20px;
      }

      svg {
        width: 7px;
        height: 7px;

        @media (min-width: $lg) {
          width: 12px;
          height: 12px;
        }

        path {
          fill: white;
          transition: fill 0.3s ease;
        }
      }
    }

    &__complete {
      opacity: 1;
    }

    &__active {
      opacity: 1;
      color: $orange;

      span {
        border-color: $orange;

        svg path {
          fill: $orange;
        }
      }
    }
  }
}

.archive {
  margin: 10px 0 50px;
}
