.table {
  margin-bottom: calc(var(--gutter) * 4);

  &2 {
    margin-top: calc(var(--gutter) * 2);
  }
}

.title {
  margin-bottom: calc(var(--gutter) * 6);
}

.subtitle {
  margin-bottom: calc(var(--gutter) * 2);

  p:nth-child(2) {
    margin-top: var(--spacing);
  }
}
