.session {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  background: rgba($grey-light, 0.1);
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s ease;

  &--media {
    width: 100px;
    min-width: 100px;
    position: relative;

    &--inner {
      position: relative;
    }

    @include media-breakpoint-up(lg) {
      width: 150px;
      min-width: 150px;
    }

    .card {
      .text-wrap {
        display: none;
      }

      .image-wrap {
        &:after {
          display: none;
        }
      }

      .playback-status {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 30px;
        z-index: 5;
        background: $primary;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          height: 10px;
          fill: $black;
          color: $black;
        }
      }
    }
  }

  &--duration {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    z-index: 5;
    background: $dark-grey;
  }

  &--prog {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: $primary;
    width: 100%;
    transition: max-width 10s linear;
  }

  &--user {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: -7px;
    right: 0px;
    z-index: 5;

    @include media-breakpoint-up(lg) {
      width: 40px;
      height: 40px;
      bottom: -5px;
      right: 5px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &--info {
    padding-left: 10px;
    width: 100%;

    @include media-breakpoint-up(lg) {
      padding-left: 10px;
    }

    p:not(.session--title) {
      margin: 0;
      font-size: 10px;
      font-weight: 500;
      line-height: 1.2;
      display: flex;
      flex-wrap: wrap;
    }

    p {
      strong {
        font-size: 12px;
        display: block;
      }

      svg {
        height: 14px;
        margin: 0 5px;
      }

      display: flex;
      align-items: center;
    }

    br {
      font-size: 12px;
    }
  }

  &--secure {
    &.secure-false {
      color: $bad;
    }
    &.secure-true {
      color: $good;
    }
    svg {
      height: 8px !important;
    }
  }

  &--title {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    width: 100%;
  }

  &--playback {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;

    &--video {
      width: calc(50% - 5px);
      margin-right: 5px;
      margin-bottom: 10px;
    }
    &--audio {
      width: calc(50% - 5px);
      margin-left: 5px;
      margin-bottom: 10px;
    }

    &--player {
      width: 100%;
    }

    &--video,
    &--audio,
    &--player {
      padding: 8px;
      background: rgba($grey-light, 0.1);
      border-radius: 5px;
    }
  }

  &--label {
    margin-right: 5px;
    font-weight: 700;
  }

  &--toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $primary;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;

    @include media-breakpoint-up(lg) {
      top: 22px;
      right: 20px;
      font-size: 14px;
    }
  }

  &--decision-icon {
    display: flex;
    align-items: center;
    color: $good;
    svg {
      height: 10px !important;
      margin: 0 5px 0 0 !important;
    }

    &.stream {
      color: $blue;
    }

    &.transcode {
      color: $bad;
    }
  }
}

.collapsed {
  .session {
    width: auto;
    padding: 0;
    background: rgba($grey-light, 0);
    &--info {
      display: none;
    }
  }
}

.sessions {
  display: flex;
  flex-wrap: wrap;
}
