@import '../global/breakpoints.module.scss';

.nav {
  padding: 15px 0;
  padding-top: calc(15px + env(safe-area-inset-top));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  backdrop-filter: blur(20px);
  border-bottom: solid 1px rgba(#fff, 0.2);
  background: rgba(var(--grey-rgb), 0.6);
  // height: 51px;

  @media (min-width: $lg) {
    padding: 28px 0;
    backdrop-filter: none;
    border-bottom: none;
    background: none;
    transition: none;

    &__search_open {
      height: auto;
    }

    &:after {
      content: '';
      background: linear-gradient(
        0deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.8) 80%,
        rgba(17, 17, 17, 0.8) 100%
      );
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 200px;
      opacity: 0.5;
      z-index: -1;
      pointer-events: none;
      transition: opacity linear 0.3s;
    }

    &__darken {
      &:after {
        opacity: 1;
      }
    }

    @media (min-width: $lg) {
      &__block {
        background: var(--grey);

        &:after {
          transition: none;
          opacity: 0;
        }
      }
    }
  }

  @media (min-width: $xxxl) {
    padding: 40px 0;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    @media (min-width: $lg) {
      justify-content: space-between;
    }
  }

  &__logo {
    display: none;

    @media (min-width: $lg) {
      margin-right: 60px;
      display: flex;
    }

    a {
      display: flex;
    }

    svg {
      height: 20px;
    }

    @media (min-width: $lg) {
      svg {
        height: 24px;
      }
    }

    @media (min-width: $xxxl) {
      svg {
        width: 139px;
        height: 34px;
      }
    }
  }

  &__thumb {
    display: block;
    width: 35px;
    height: 35px;
    min-width: 24px;
    background: var(--white);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 15px;
    top: calc(env(safe-area-inset-top) + 15px);
    right: 20px;

    img {
      width: 100%;
      height: 100%;
    }
    @media (min-width: $lg) {
      position: relative;
      margin-left: 20px;
      top: initial;
      right: initial;
      display: block;
    }

    @media (min-width: $xxxl) {
      width: 40px;
      height: 40px;
    }
  }

  &__search_icon {
    display: none;
    width: 24px;
    min-width: 24px;
    height: 24px;
    position: absolute;
    top: 14px;
    right: 20px;
    align-items: center;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
    }

    @media (min-width: $lg) {
      margin-left: 20px;
      position: static;
      display: flex;
    }

    @media (min-width: $xxxl) {
      width: 30px;
      height: 30px;
    }
  }

  &__menu {
    display: none;

    @media (min-width: $lg) {
      display: flex;

      button {
        appearance: none;
        color: var(--white);
        background: none;
        padding: none;
        border: none;
        outline: none !important;
        cursor: pointer;
      }
    }
  }

  &__item {
    margin-right: 60px;
    transition: color 0.3s ease;

    &:hover {
      color: var(--orange);
    }

    &__active {
      color: var(--orange) !important;
    }
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-right: 50px;

    @media (min-width: $lg) {
      width: auto;
      margin-right: 0;
    }
  }
}

.collapse_search {
  position: static;
  max-width: 100%;
  transition: width 0.3s ease;
  max-height: initial;
  width: 100%;

  @media (min-width: $lg) {
    width: auto;
    transition: max-width 0.3s ease;

    input {
      border: solid 2px var(--white);
    }
  }

  form {
    overflow: hidden;
  }

  &__collapsed {
    max-width: initial;

    @media (min-width: $lg) {
      max-width: 0;
    }
  }
}

.mobile_nav {
  position: fixed;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 60px;
  height: calc(60px + env(safe-area-inset-bottom));
  backdrop-filter: blur(20px);
  border-top: solid 1px rgba(#fff, 0.2);
  background: rgba(var(--grey-rgb), 0.6);
  z-index: 500;
  padding: 0 20px;
  padding-bottom: env(safe-area-inset-bottom);
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    appearance: none;
    padding: 0;
    background: none;
    border: none;
    outline: none !important;
    cursor: pointer;
    color: var(--white);
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span {
      display: flex;
      width: 30px;
      height: 30px;

      svg {
        fill: var(--white);
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;

        path {
          fill: var(--white);
        }
      }
    }

    &__active {
      color: var(--orange) !important;

      span svg {
        fill: var(--orange);

        path {
          fill: var(--orange);
        }
      }
    }
  }
}

.back_btn {
  height: 35px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media (min-width: $lg) {
    display: none;
  }

  span {
    display: flex;
    svg {
      fill: var(--white);
      width: 15px;
    }
  }
}

.genre_menu {
  position: fixed;
  bottom: 59px;
  left: 0;
  width: 100%;
  z-index: 500;
  pointer-events: none;
  height: calc(100svh - 59px - 66px);
  overflow-y: auto;

  @media (min-width: $lg) {
    padding-top: 91px;
    top: 0;
    bottom: initial;
    border-bottom: solid 1px var(--grey-light-20);
    height: auto;
    overflow: initial;
  }

  @media (min-width: $xxxl) {
    padding-top: 130px;
  }

  &__inner {
    position: relative;
    border-top: solid 1px var(--grey-light-20);
    background: var(--grey);
    pointer-events: all;
  }

  &__content {
    // position: absolute;
    // top: 0;
    // left: 200px;
    // width: calc(100% - 400px);
    width: 100%;
    padding: calc(var(--spacing) * 2) 0 calc(var(--spacing) * 4);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: calc(var(--spacing) * 2);

    @media (min-width: $lg) {
      grid-template-columns: 1fr 1fr;
      gap: calc(var(--spacing) * 2);
    }
  }

  &__col {
    display: grid;
    grid-template-columns: 1fr;
    gap: calc(var(--spacing) * 2);
  }

  &__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--spacing) * 1);

    @media (min-width: $lg) {
      grid-template-columns: 1fr 1fr 1fr;

      a {
        transition: color 0.3s ease;

        &:hover {
          color: var(--orange);
        }
      }
    }
  }
}
