$base: var(--spacing);

.m {
  &b {
    &-1 {
      margin-bottom: calc(var(--spacing) * 1);
    }
    &-2 {
      margin-bottom: calc(var(--spacing) * 2);
    }
    &-3 {
      margin-bottom: calc(var(--spacing) * 3);
    }
    &-4 {
      margin-bottom: calc(var(--spacing) * 4);
    }
    &-5 {
      margin-bottom: calc(var(--spacing) * 5);
    }
  }
  &t {
    &-1 {
      margin-top: calc(var(--spacing) * 1);
    }
    &-2 {
      margin-top: calc(var(--spacing) * 2);
    }
    &-3 {
      margin-top: calc(var(--spacing) * 3);
    }
    &-4 {
      margin-top: calc(var(--spacing) * 4);
    }
    &-5 {
      margin-top: calc(var(--spacing) * 5);
    }
  }
}
