html,
body {
  padding: 0;
  margin: 0;
  background: $black;
  color: $white;
  font-family: $font;
  -webkit-tap-highlight-color: transparent;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;

  @media (max-width: 991px) {
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }
}

body {
  padding: env(safe-area-inset-top) env(safe-area-inset-left)
    env(safe-area-inset-bottom) env(safe-area-inset-right);
}

a {
  color: inherit;
  text-decoration: none;
  user-select: none;
}

img,
svg {
  user-select: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

hr {
  margin: 0;
  height: 1px;
  background: $grey;
  border: none;

  &.spaced {
    margin: $spacing 0;
  }
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($black, 0.5);
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  backdrop-filter: blur(30px);
  transform: translate3d(0, 0, 0);

  svg {
    width: 50px;
    height: 50px;
  }
}

.not-visible {
  visibility: hidden;
}

.score {
  &-bg {
    fill: none;
    stroke: darken($orange, 30);
    stroke-width: 4;
  }

  &-value {
    fill: none;
    stroke-width: 4;
    stroke-linecap: square;
    animation: progress 3s ease-out forwards;
    stroke: $orange;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.Toastify {
  position: fixed;
  z-index: 500;

  &__toast {
    background: $grey;
    color: white;

    @media (max-width: $lg) {
      background: rgba($grey, 0.8);
      backdrop-filter: blur(20px);
      margin-top: 5px;
      border-radius: 5px !important;
    }

    .Toastify__spinner {
      border-right-color: transparent;
    }

    &--info {
      // color: blue;
    }
  }

  .Toastify__toast-container {
    @media (max-width: $lg) {
      bottom: 60px;
      bottom: calc(env(safe-area-inset-bottom) + 60px);
      padding: 10px;
    }
  }
}

.e404 {
  height: calc(
    100vh - (env(safe-area-inset-top) + env(safe-area-inset-bottom))
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h1 {
    color: $orange;
  }
}

.recharts-active-dot .recharts-dot {
  fill: $white;
  stroke: $white;
}

.recharts-tooltip-cursor {
  stroke: rgba($white, 0.2);
}
