@import './breakpoints.module.scss';

// global variables

:root {
  --black: #111;
  --white: #fff;
  --grey: #202020;
  --grey-light-10: color-mix(in srgb, var(--grey), #fff 10%);
  --grey-light-20: color-mix(in srgb, var(--grey), #fff 20%);
  --grey-light-30: color-mix(in srgb, var(--grey), #fff 30%);
  --grey-dark: #343536;
  --red: #db5461;
  --red-dark-10: color-mix(in srgb, var(--green), #000 10%);
  --red-dark-30: color-mix(in srgb, var(--red), #000 30%);
  --orange: #ff8300;
  --orange-dark-10: color-mix(in srgb, var(--orange), #000 10%);
  --orange-dark-30: color-mix(in srgb, var(--orange), #000 30%);
  --green: #98dd32;
  --green-dark-30: color-mix(in srgb, var(--green), #000 30%);
  --green-dark: #2e8321;
  --blue: #006992;
  --blue-dark-10: color-mix(in srgb, var(--blue), #000 10%);
  --blue-dark-30: color-mix(in srgb, var(--blue), #000 30%);
  --purple: #8700c5;
  --purple-dark-30: color-mix(in srgb, var(--purple), #000 30%);
  --font: 'Montserrat', sans-serif;
  --spacing: 10px;
  --gutter: 10px;
  --xs: #{$xs};
  --sm: #{$sm};
  --md: #{$md};
  --lg: #{$lg};
  --xl: #{$xl};
  --xxl: #{$xxl};
  --xxxl: #{$xxxl};

  @media (min-width: $lg) {
    --gutter: 140px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--black);
  color: var(--white);
  font-family: var(--font);
  -webkit-tap-highlight-color: transparent;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

@media (max-width: 991px) {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 0;
    display: none;
    width: 0px;
    background: transparent;
  }
}

body {
  padding: env(safe-area-inset-top) env(safe-area-inset-left)
    env(safe-area-inset-bottom) env(safe-area-inset-right);
}

a {
  color: inherit;
  text-decoration: none;
  user-select: none;
}

img,
svg {
  user-select: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

hr {
  margin: 0;
  height: 1px;
  background: var(--grey);
  border: none;

  &.spaced {
    margin: var(--spacing) 0;
  }
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, 0.5);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  backdrop-filter: blur(30px);
  transform: translate3d(0, 0, 0);

  svg {
    width: 50px;
    height: 50px;
  }
}

.not-visible {
  visibility: hidden;
}

.score {
  &-bg {
    fill: none;
    stroke: var(--orange-dark-30);
    stroke-width: 4;
  }

  &-value {
    fill: none;
    stroke-width: 4;
    stroke-linecap: square;
    animation: progress 3s ease-out forwards;
    stroke: var(--orange);
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.Toastify {
  position: fixed;
  z-index: 500;

  &__toast {
    background: var(--grey);
    color: white;

    @media (max-width: $lg) {
      background: rgba(var(--grey), 0.8);
      backdrop-filter: blur(20px);
      margin-top: 5px;
      border-radius: 5px !important;
    }

    .Toastify__spinner {
      border-right-color: transparent;
    }

    &--info {
      // color: blue;
    }
  }

  .Toastify__toast-container {
    @media (max-width: $lg) {
      bottom: 60px;
      bottom: calc(env(safe-area-inset-bottom) + 60px);
      padding: 10px;
    }
  }
}

.e404 {
  height: calc(
    100vh - (env(safe-area-inset-top) + env(safe-area-inset-bottom))
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h1 {
    color: var(--orange);
  }
}

.recharts-active-dot .recharts-dot {
  fill: var(--white);
  stroke: var(--white);
}

.recharts-tooltip-cursor {
  stroke: rgba(#fff, 0.2);
}
