$black: #111;
$darkGrey: #141414;
$grey: #202020;
$white: #fff;
$orange: #ff8300;
$greenLight: #2e8321;
$green: #4fce3b;
$red: #db5461;
$blue: #006992;
$purple: #8700c5;
$font: 'Montserrat', sans-serif;
$spacing: 10px;
$containerGutterSm: 50px;
$containerGutter: 140px;
$xs: 0;
$sm: 350px;
$md: 768px;
$lg: 1100px;
$xl: 1440px;
$xxl: 1920px;
$xxxl: 2560px;

:export {
  black: $black;
  darkGrey: $darkGrey;
  grey: $grey;
  white: $white;
  orange: $orange;
  green: $green;
  greenLight: $greenLight;
  blue: $blue;
  purple: $purple;
  red: $red;
  font: $font;
  containerGutterSm: $containerGutterSm;
  containerGutter: $containerGutter;
  xs: $xs;
  sm: $sm;
  md: $md;
  lg: $lg;
  xl: $xl;
  xxl: $xxl;
  xxxl: $xxxl;
}
