input:not([type="checkbox"]):not(.styled-input--input):not([type="file"]) {
  display: block;
  width: 300px;
  margin-bottom: 20px;
  // appearance: none;
  border: none;
  outline: none;
  height: 40px;
  font-size: 16px;
  padding: 0 15px;
  border-bottom: solid 2px transparent;
  background: rgba($grey-medium, 0.3);
  color: white;

  &:focus {
    border-bottom: solid 2px $primary;
  }

  &.disabled,
  &:read-only {
    opacity: 0.5;
    cursor: no-drop;
  }
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  min-width: 20px;
  position: relative;
  background: rgba($grey-medium, 0.3);
  outline: none !important;
  border-radius: 0 !important;

  &:checked {
    &:after {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      background: $primary;
      border-radius: 1px;
    }
  }

  &.checkbox-small {
    width: 15px;
    height: 15px;
    min-width: 15px;
    min-height: 15px;
  }
}

.checkbox-wrap {
  display: flex;
  align-items: center;

  input {
    margin-right: 10px;
  }

  p {
    margin: 0;
  }
}

.select-wrap {
  position: relative;
  display: block;
  width: 300px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  height: 40px;
  font-size: 16px;
  border-bottom: solid 2px transparent;

  &:after {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    width: 10px;
    height: 10px;
    border-bottom: solid 2px $grey-light;
    border-right: solid 2px $grey-light;
    transform: rotate(45deg);
    pointer-events: none;
  }

  select {
    border-radius: 0 !important;
    outline: none !important;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    background: rgba($grey-medium, 0.3);
    border: none;
    color: white;
  }
  select:focus::-ms-value {
    color: white;
    background: $primary;
  }

  option {
    background: $black;
  }
}

.styled-input {
  &--select {
    background: rgba($grey-medium, 0.3);
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    color: white;

    &.disabled {
      opacity: 0.5;
      cursor: no-drop;

      select {
        pointer-events: none;
      }
    }

    select {
      appearance: none;
      background: none;
      color: white;
      font-size: 16px;
      outline: none !important;
      border: none;
    }

    option {
      color: black;
      background: white;
    }
  }

  &--textarea {
    background: rgba($grey-medium, 0.3);
    height: 90px;
    min-height: 90px;
    padding: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    outline: none !important;
    font-size: 16px;
    min-width: 100%;
    max-width: 100%;
  }

  &--input {
    background: rgba($grey-medium, 0.3);
    height: 30px;
    padding: 0 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    color: white;
    line-height: 30px;
    font-size: 16px;
    border: none !important;
    outline: none !important;
  }
}
