.sr {
  &--grid {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
  }

  &--instance {
    width: 100%;
    padding: 15px;

    @include media-breakpoint-up(xl) {
      width: 50%;
    }

    &--inner {
      border: solid 1px rgba(255, 255, 255, 0.3);
      background: rgba(255, 255, 255, 0.1);
      padding: 15px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // cursor: pointer;
      transition: color 0.3s ease, border 0.3s ease;

      p {
        color: inherit;
        margin: 0;
      }

      svg {
        height: 30px;
        margin-bottom: 15px;
      }

      .btn-wrap {
        display: flex;
        margin-top: 10px;

        .btn {
          margin: 10px 5px;
        }
      }
    }
  }

  &--title {
    margin: 0;
    font-weight: 700;
  }

  &--add-new {
    .sr--instance {
      &--inner {
        background: none;
        border-style: dashed;
        cursor: pointer;

        &:hover {
          color: $primary;
          border-color: $primary;

          svg {
            fill: $primary;
          }
        }
      }
    }
    svg {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  &--wizard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(100% - 30px);
    background: $dark-grey;
    border-radius: 5px;
    overflow: hidden;
    max-height: 100%;
    overflow-y: auto;
    z-index: 20;

    &--top {
      background: $primary;
      color: white;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .close {
        cursor: pointer;
      }

      svg {
        height: 20px;
      }

      p {
        margin: 0;
        font-weight: 700;
      }
    }

    &--content {
      padding: 15px;

      label {
        margin-bottom: 10px;
        display: block;
      }
    }
  }
}
