.generic-table {
	width: 100%;
	// table-layout: fixed;
	border-collapse: collapse;
	font-size: 10px;

	@include media-breakpoint-up(lg) {
		font-size: 16px;
	}

	tr:not(.child) {
		th,
		td {
			&:nth-child(odd) {
				background: rgba(255, 255, 255, 0.05);
			}

			&:nth-child(even) {
				background: rgba(255, 255, 255, 0.02);
			}

			&.fixed {
				width: 300px;
			}

			p {
				line-height: 1;
				@include media-breakpoint-down(md) {
					font-size: 8px;
				}
			}
		}

		th {
			text-align: left;
			padding: 10px;
			border-bottom: solid 1px $grey-medium;

			@include media-breakpoint-up(lg) {
				padding: 20px;
			}
		}

		td {
			padding: 10px;
			border-bottom: solid 1px $dark-grey;

			@include media-breakpoint-up(lg) {
				padding: 20px;
			}
		}
	}

	tr.child {
		td {
			font-weight: 10px;
			padding: 5px 20px;

			p {
				font-size: 8px;

				@include media-breakpoint-up(lg) {
					font-size: 10px;
				}
			}
		}
	}

	&__rounded {
		overflow: hidden;
		border-radius: 5px;
	}
}
