.styled-input {
  &--select {
    background: rgba($grey-medium, 0.3);
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    color: white;

    select {
      appearance: none;
      background: none;
      color: white;
      font-size: 16px;
      outline: none !important;
      border: none;
    }

    option {
      color: black;
      background: white;
    }
  }

  &--textarea {
    background: rgba($grey-medium, 0.3);
    height: 90px;
    min-height: 90px;
    padding: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    outline: none !important;
    font-size: 16px;
    min-width: 100%;
    max-width: 100%;
  }

  &--input {
    background: rgba($grey-medium, 0.3);
    height: 30px;
    padding: 0 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    color: white;
    line-height: 30px;
    font-size: 16px;
  }
}
