body {
  // background: red;
  max-width: 100vw;
  overflow: hidden;
  color: $black;
  background: linear-gradient(
    135deg,
    rgba(51, 59, 58, 1) 0%,
    rgba(55, 65, 65, 1) 25%,
    rgba(64, 54, 43, 1) 75%,
    rgba(33, 26, 23, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

.view {
  // margin-left: 50px;
  // padding: 10px;
  padding-top: 55px;
  padding-top: calc(55px + env(safe-area-inset-bottom));

  @include media-breakpoint-up(lg) {
    margin-left: 250px;
    padding-top: 0;
    // padding: 20px;
  }
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  height: 100vh;
}
