.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: rgba($dark-grey, 1);
  // box-shadow: 2px 0px 14px 0px rgba(0, 0, 0, 0.34);
  z-index: 99;

  @include media-breakpoint-up(lg) {
    width: 250px;
  }

  @include media-breakpoint-down(md) {
    transform: translateX(-250px);
    transition: transform 0.3s ease;
    padding-top: 55px;

    &.open {
      transform: translateX(0);
    }
  }

  .logo {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 1;
    color: white;
    font-family: "Khula", sans-serif;
    margin: 0;

    @include media-breakpoint-up(lg) {
      font-size: 32px;
    }

    span {
      color: orange;
    }
  }

  &--logo {
    padding: 20px;
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  &--title {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0;
  }

  &--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border-top: solid 4px transparent;
    border-right: solid 4px transparent;
    cursor: pointer;
    padding-left: 20px;

    @include media-breakpoint-up(lg) {
      padding-left: 20px;
      border-top: none;
      border-right: solid 4px transparent;
    }

    p {
      font-size: 16px;
      color: white;
      font-weight: 500;
      margin: 0;
      // display: none;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    .icon {
      padding: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;

      @include media-breakpoint-up(lg) {
        padding: 20px 0;
        width: 60px;
      }

      svg {
        height: 20px;

        @include media-breakpoint-up(lg) {
          height: 20px;
        }

        path {
          fill: $grey-light;
        }
      }
    }

    &.user-profile {
      .thumb {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 50px;
        height: 30px;
        width: 30px;

        @include media-breakpoint-up(lg) {
          height: 30px;
          width: 30px;
        }
      }

      p {
        max-width: 150px;
        overflow: hidden;
      }

      .icon {
        padding: 10px 0;
      }

      @include media-breakpoint-up(lg) {
        .icon {
          padding: 15px 0;
        }
      }
    }

    &:hover {
      background: rgba(0, 0, 0, 0.2);
      border-right: solid 4px rgba(255, 255, 255, 0.2);

      @include media-breakpoint-up(lg) {
        border-top: none;
        border-right: solid 4px rgba(255, 255, 255, 0.2);
      }
    }

    &.active {
      background: $black;
      border-right: solid 4px $primaryDark;

      @include media-breakpoint-up(lg) {
        border-top: none;
        border-right: solid 4px $primaryDark;
      }

      .icon {
        svg path {
          fill: $primary;
        }
      }

      p {
        color: $primary;
      }
    }
  }

  &--version {
    position: absolute;
    left: 20px;
    bottom: 20px;
    margin: 0;
    font-size: 10px;
    line-height: 1;
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}

.mob-menu-top {
  position: fixed;
  top: 0;
  height: 55px;
  width: 100%;
  background: $black;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo-wrap {
    height: 55px;
    padding: 16px 10px;
  }

  .logo {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 1;
    color: white;
    font-family: "Khula", sans-serif;
    margin: 0;

    span {
      color: orange;
    }
  }

  .nav-toggle {
    appearance: none;
    border: none;
    background: none;
    height: 18px;
    width: 30px;
    position: absolute;
    right: 15px;
    top: 18px;
    // bottom: 16px;

    span {
      position: absolute;
      height: 2px;
      background: $primary;
      width: 100%;
      transition: transform 0.3s ease, top 0.1s ease 0.1s, bottom 0.1s ease 0.1s;

      &:nth-child(1) {
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        top: 8px;
        left: 0;
      }

      &:nth-child(3) {
        bottom: 0;
        left: 0;
      }
    }

    &.active {
      span {
        transition: transform 0.3s ease;
        &:nth-child(1) {
          transform: rotate(45deg);
          top: 8px;
        }

        &:nth-child(2) {
          transform: rotate(135deg);
          top: 8px;
        }

        &:nth-child(3) {
          transform: rotate(135deg);
          bottom: 8px;
        }
      }
    }
  }
}
