@import '../global/breakpoints.module.scss';

.critics {
  display: flex;
  align-items: center;
  margin-top: var(--spacing);

  @media (min-width: $lg) {
    margin-top: 0;
    margin-left: calc(var(--gutter) * 2);
  }

  &__item {
    display: flex;
    align-items: center;
    margin-right: calc(var(--gutter) * 2);

    p {
      margin-left: var(--spacing);
    }

    svg {
      height: 18px;
      width: auto;
    }
  }
}
