@import '../components/typography.module.scss';

.discovery {
  position: relative;
  margin-bottom: -100px;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--grey);
    // min-height: 100vh;

    @media (min-width: $lg) {
      min-height: 100vh;
    }

    &:before {
      content: '';
      background: rgba(var(--grey-rgb), 0.2);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 2;
      // backdrop-filter: blur(5px);

      @media (min-width: $lg) {
        background: radial-gradient(
          circle,
          rgba(0, 0, 0, 0) 0%,
          rgba(5, 5, 5, 0.9) 90%,
          rgba(2, 0, 36, 0.9) 100%
        );
        z-index: 0;
        opacity: 0.1;
        backdrop-filter: none;
      }
    }

    &:after {
      content: '';
      background: linear-gradient(
        0deg,
        rgba(#000, 1) 0%,
        rgba(#000, 1) 20%,
        rgba(0, 0, 0, 0) 100%
      );
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 70%;
      z-index: 1;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.7;

    @media (min-width: $lg) {
      background-attachment: fixed;
    }
  }

  &__content {
    position: relative;
    z-index: 3;
    padding: 50px 0 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;

    @media (min-width: $lg) {
      min-height: 60vh;
      padding: 150px 0 50px;
      width: 50%;
      margin-bottom: -100px;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 125px;

    @media (min-width: $lg) {
      min-height: initial;
      height: 176px;
    }

    @media (min-width: $xxxl) {
      height: 300px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }

    p {
      @extend .title;
      @extend .bold;
      text-align: center;

      margin-top: 10px;

      @media (min-width: $lg) {
        margin-top: 20px;
      }
    }
  }
}

.center {
  margin: auto 0;
}

.single {
  position: relative;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $lg) {
    min-height: 100vh;
  }

  &__background {
    @extend .discovery__background;
    height: 350px;

    @media (min-width: $lg) {
      min-height: 100vh;
      height: 100%;
    }

    &:before {
      display: none;
    }

    &:after {
      background: rgba(#000, 0.4);
      height: 100%;
    }
  }

  &__image {
    @extend .discovery__image;

    &__blur {
      &:after {
        content: '';
        background: rgb(68, 55, 66);
        background: linear-gradient(
          135deg,
          rgba(68, 55, 66, 1) 0%,
          rgba(138, 76, 10, 1) 50%,
          rgba(206, 160, 126, 1) 100%
        );

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.company {
  margin-bottom: 0;
  pointer-events: none;

  @media (min-width: $lg) {
    margin-bottom: 50px;
  }

  @media (max-height: 991px) {
    padding: 70px 0 0;
  }

  &__content {
    width: 100%;
    min-height: 0;

    @media (min-width: $lg) {
      min-height: 60vh;
    }
  }

  &__logo {
    @extend .discovery__logo;

    justify-content: center;
    width: 80%;
    height: 120px;
    margin: 0 auto;
    max-width: 80%;

    @media (min-width: $lg) {
      width: 500px;
      height: 176px;
    }

    @media (min-width: $xxxl) {
      width: 1000px;
      height: 300px;
    }
  }

  &__background {
    @extend .discovery__background;

    min-height: 50vh;

    @media (min-width: $lg) {
      min-height: 100vh;
    }
  }
}

.genre {
  margin-bottom: 0;
  pointer-events: none;

  @media (min-width: $lg) {
    margin-bottom: -100px;
  }

  @media (max-height: 991px) {
    padding: 70px 0 0;
  }

  &__content {
    width: 100%;
    min-height: 0;

    @media (min-width: $lg) {
      min-height: 60vh;
    }
  }

  &__background {
    @extend .discovery__background;

    min-height: 50vh;

    @media (min-width: $lg) {
      min-height: 60vh;
    }
  }
}
