@import "../global/variables.module.scss";

.wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba($black, 0.6);

  z-index: 5000;
}

.inner {
  background: #eeeef0;
  border-radius: 20px;
  position: absolute;
  bottom: 50px;
  left: 30px;
  right: 30px;
  color: $black;
  z-index: 1;
}

.top {
  padding: 20px;
  border-bottom: solid 1px #dcdcde;

  p {
    font-family: "Droid Sans", sans-serif;
    font: -apple-system-headline, "Droid Sans";
  }
}

.body {
  padding: 20px;

  ul {
    font-family: "Droid Sans", sans-serif;
    font: -apple-system-footnote;
    padding-left: 15px;
  }

  p {
    font-family: "Droid Sans", sans-serif;
    font: -apple-system-footnote;
    display: flex;
    align-items: center;

    b {
      font-weight: bold;
    }

    u {
      color: #2479f1;
    }

    span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;

      svg {
        width: 40px;

        path {
          fill: #2479f1;
        }
      }
    }
  }
}

.button {
  appearance: none;
  border: none;
  background: #f9aa33;
  color: #232f34;
  text-transform: uppercase;
  height: 35px;
  padding: 0 16px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  font-size: 14px;
  letter-spacing: 1.25px;
  font-weight: 500;
  font-family: "Droid Sans", sans-serif;
  border-radius: 4px;
}
