@import '../global/variables.module.scss';

.main {
  position: relative;
  z-index: 2;
  width: 500px;
  min-height: 500px;
  max-height: 80%;
  background: $grey;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: lighten($grey, 5);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lighten($grey, 20);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: lighten($grey, 30);
  }
}

.wrap {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($black, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
  cursor: pointer;
}

.title {
  padding: 10px 20px;
  border-bottom: solid 1px rgba($white, 0.2);

  p {
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
  }
}

.content {
  padding: 20px;
  overflow-y: auto;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
